@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    background: #0f0f0f;
}

.container {
    background: #181818;
    width: 456px;
    height: 224px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    position: relative;
    top: calc(50hv - 224px / 2);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.content h1, p {
    color: #e3e3e3;
    font-size: 22px;
    font-weight: 500;
}

.content .input {
    display: flex;
    justify-content: center;
}

.content .sendToken {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 38px;
    background: #222;
    border: 1px solid #e3e3e3;
    color: #e3e3e38b;
    cursor: pointer;
}

.content .input input {
    height: 38px;
    width: 100%;
    background: #222;
    border: none;
    color: #e3e3e3;
    padding: 3px 9px;
    border-radius: 2px 0 0 2px;
    outline: none;
}

.toggle-container {
    display: flex;
    align-items: center;
    color: #e3e3e3;
    font-size: 16px;
    flex-direction: column;
}

.toggle-container p {
    margin-bottom: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}